:root {
  --primary: #2aa4eb;
  --primary-onhover: #2690ce;
  --accent: #c60000;
  --accent-onhover: #b20000;
  --error: #e63f3f;
  --error-onhover: #d84c4c;
  --warning: #f7b42f;
  --warning-onhover: #da9409;
  --success: #38b319;
  --success-onhover: #24830c;
  --off-white: #eeeeee;
  --white: #fcfcfc;
  --white-onhover: #f6f6f6;
  --off-black: #191919;
  --off-grey: #686868;
}
